
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Hakkımızda</h3>
					<p>
						Blogy’ye hoş geldiniz!
						Blogy; güncel konuları sade bir dille anlatan, araştırmaya dayalı içerikler sunan ve kullanıcı deneyimini ön planda tutan bir platformdur. Kod örneklerinden rehber yazılarına, sektörel gelişmelerden kişisel deneyimlere kadar geniş bir içerik yelpazesi sunuyoruz.
					</p>
				</div> <!-- /.widget -->
				<div class="widget">
					<h3>Sosyal Medya Hesaplarımız</h3>
					@await Component.InvokeAsync("_GetSocialMediasForFooterComponent")
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4 ps-lg-5">
				<div class="widget">
					<h3 class="mb-4">Blogy</h3>
					<ul class="list-unstyled float-start links">
						<li><a href="/AboutUs/Index">Hakkımızda</a></li>
						<li><a href="/Contact/Index">İletişim</a></li>
						<li><a href="/AboutUs/Index">Vizyon</a></li>
						<li><a href="/AboutUs/Index">Misyon</a></li>
						<li><a href="/AboutUs/Index">Şartlar</a></li>
						<li><a href="/AboutUs/Index">Gizlilik</a></li>
					</ul>

					<ul class="list-unstyled float-start links">
						<li><a href="#">İş Ortakları</a></li>
						<li><a href="#">İş Dünyası</a></li>
						<li><a href="#">Kariyer</a></li>
						<li><a href="/Default/Index">Blog</a></li>
						<li><a href="#">SSS</a></li>
						<li><a href="#">Yaratıcı</a></li>
					</ul>

				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">En Çok Etikete Sahip Bloglar</h3>
					@await Component.InvokeAsync("_FooterTheMostTagHaveBlogComponent")


				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
		</div> <!-- /.row -->

		<div class="row mt-5">
			<div class="col-12 text-center">
				<!--
					**==========
					NOTE:
					Please don't remove this copyright link unless you buy the license here https://untree.co/license/
					**==========
				  -->

				<p>
					Copyright &copy;<script>document.write(new Date().getFullYear());</script>. Tüm Hakları Saklıdır. 
				</p>
			</div>
		</div>
	</div> <!-- /.container -->
</footer> <!-- /.site-footer -->
<!-- Preloader -->
