
@model List<ResultSocialMediaDto>


@*
    get social medias
*@
<ul class="list-unstyled social">

    @foreach(var item in Model)
    {
	<li><a href="@item.Url" target="_blank"><span class="@item.Icon"></span></a></li>
        
    }


</ul>