@model List<ResultCategoryDto>
@*
    uı layout for GetCategoriesAllViewComponent
*@


<ul class="dropdown">
    @foreach (var item in Model.Take(5))
    {
        <li><a href="/Blog/GetBlogsByCategory/@item.Id">@item.CategoryName</a></li>
    }
    <li><a href="/Blog/Index">Tüm Bloglara Bak</a></li>
</ul>
